---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: GolangCI Lint
permissions: { contents: read }

on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/golangci-lint.yaml
      - .golangci.yaml
      - ".mise.toml"
      - "**.go"
      - "go.mod"
      - "go.sum"

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1

      - name: Run golangci-lint
        run: mise exec -- golangci-lint run
